/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FEDEFF;
    margin: 0;
    padding: 0;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

#imageSection {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

/* Input section styles */
label {
    padding: 10px;
}

#inputSection {
    display: grid; /* Change to grid */
    align-items: center;
    margin-bottom: 20px;
    gap: 10px; /* Add gap between grid items */
}

#newtask {
    display: grid; /* Change to grid */
    align-items: center;
    grid-template-columns: 1fr; /* Add grid-template-columns */
    gap: 10px; /* Add gap between grid items */
}

#newTaskInput {
    padding: 5px;
    margin-right: 10px;
    margin-right: 10px; /* Remove duplicate property */
    border: 1px solid;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #A51080;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: grey;
}

/* Tasks section styles */
#tasksContainer {
    list-style: none;
    padding: 0;
}

.listElement {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.listElement:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.taskDiv {
    display: grid; /* Change to grid */
    align-items: center;
    grid-template-columns: auto 1fr auto; /* Add grid-template-columns */
}

.checkbox {
    margin-right: 10px;
}

.editBtn,
.deleteBtn {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: grey;
    color: #fff;
    transition: background-color 0.3s ease;
}

.editBtn:hover,
.deleteBtn:hover {
    background-color: black;
}

.editTaskDiv {
    margin-top: 10px;
}

/* Transitions */
#tasksSection li {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#tasksSection li.slide-up {
    transform: translateY(-20px);
    opacity: 0;
}

#tasksSection li.slide-down {
    transform: translateY(20px);
    opacity: 0;
}
