/* HTML TAGS */

html,
body {
  box-sizing: border-box;
  background-color: #fedeff;
  min-height: 100vh;
}

/* Target all body children to be centered */
body > * {
  margin-left: auto;
  margin-right: auto;
}
main {
  width: 100%;
  max-width: 700px;
}
header {
  margin-top: 2em;
}
h1,
h2 {
  text-align: center;
}
h2 {
  margin: 0;
}
/* footer {
  display: grid;
  justify-items: center;
  align-content: center;
} */
li {
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
img {
  max-width: 300px;
}
