/* HTML TAGS */

html,
body {
  box-sizing: border-box;
  background-color: #fedeff;
  min-height: 100vh;
}

header {
  margin-top: 2em;
}
h1,
h2 {
  margin: 0;
}
/* footer {
  display: grid;
  justify-items: center;
  align-content: center;
} */

ul {
  list-style: none;
  padding-left: 0;
  font-size: 4rem;
  margin-bottom: 0;
}
img {
  max-width: 300px;
}
